%hr
- @recipes.each do |recipe|
  #picture_box
  %ul.indented
    = link_to recipe.title, recipe_path(recipe)
    %span{:style => 'float: right;'}
      - if recipe.owned_by? current_user
        = link_to 'Edit', edit_recipe_path(recipe)
        |
        = link_to 'Delete', recipe, :method => 'delete', :confirm => 'Are you sure?'
    %br

    %span.underneath
      - @cuisine = recipe.cuisines
      - @cuisine.each do |type|
        = type.name
        - if (@cuisine.count >= 2) && (type != @cuisine.last)
          |
    = '->'
    %span.underneath
      - @course = recipe.courses
      - @course.each do |type|
        = type.name
        - if (@course.count >= 2) && (type != @course.last)
          |
    %br
    %span.underneath
      = 'created by '
      = link_to recipe.user.username, user_path(recipe.user)
      = ' on ' + recipe.published_at.to_s
    - if recipe != @recipes.last
      %hr
%hr