%hr
- @recipes.each do |recipe|
  %p
    = link_to recipe.title, recipe_path(recipe)
    %span{:style => 'float: right;'}
      - if recipe.owned_by? current_user
        = link_to 'Edit', edit_recipe_path(recipe)
        |
        = link_to 'Delete', recipe, :method => 'delete', :confirm => 'Are you sure?'
  %table
    %th Course
    %th Cuisine
    %tr
      %td{:style => 'padding:25px;padding-bottom:0px;'}
        - @course = recipe.courses
        - @course.each do |type|
          %i= type.name
          -if type.name.size > 1
            %br
      %td{:style => 'padding:25px;padding-bottom:0px;'}
        - @cuisine = recipe.cuisines
        - @cuisine.each do |type|
          %i= type.name
          - if type.name.size > 1
            %br
    
  %hr