%h1
  = current_user.username + '\'s ' + 'Recipes'
%hr
- @recipes = Recipe.all
- @recipes.each do |recipe|
  - if recipe.owned_by? current_user
    %p
      = link_to recipe.title, recipe_path(recipe)
      %span{:style => 'float:right;'}
        = link_to 'Edit', edit_recipe_path(recipe)
        |
        = link_to 'Delete', recipe, :confirm => 'Are you sure?', :method => 'delete'
    %ul
      Course
      - @course = recipe.courses
      - @course.each do |type|
        %ul
          %li= type.name
    %ul
      Cuisine
      - @cuisine = recipe.cuisines
      - @cuisine.each do |type|
        %ul
          %li= type.name
    %hr
- if current_user.recipes.count == 0
  - 11.times do
    %br
- if current_user.recipes.count < 2
  - 8.times do
    %br