%h1= @recipe.title
%p
  Course
%p
  - @course = @recipe.courses
  - @course.each do |type|
    %ul
      %li= type.name
%p
  Cuisine
%p
  - @cuisine = @recipe.cuisines
  - @cuisine.each do |type|
    %ul
      %li= type.name
%p
  Ingredients
%p
  %ul
    %li= @recipe.ingredients
%p
  Directions
%p
  %ul
    %li= @recipe.directions
%p
  Date Published
%p
  %ul
    %li= @recipe.published_at
%br
= link_to 'Back', recipes_path