<h1><%= @recipe.title %></h1>
<p><h3>Ingredients</h3></p>
<p><%= @recipe.ingredients %></p>
<p><h3>Directions</h3></p>
<p><%= @recipe.directions %></p>
<p><h3>Date Published</h3></p>
<p><%= @recipe.published_at %></p>


<br />
<%= link_to 'Back', recipes_path %>