%span{:style => 'float:right;margin-top:15px;'}
  %img{:src => "../../images/#{@recipe.recipe_image_file_name}", :alt => "recipe image", :width => "150px", :height => "150px"}
%h1= @recipe.title
%p
  %strong Type:
  %br
  - @cuisine = @recipe.cuisines
  - @cuisine.each do |type|
    = type.name
  = " -> "
  - @course = @recipe.courses
  - @course.each do |type|
    = type.name
%p
  %strong Ingredients:
  %br
  = @recipe.ingredients
%p
  %strong Directions:
  %br
  = @recipe.directions
%p
  %strong Published on:
  %br
  = @recipe.published_at
.clear
%br
%hr
%h3
  = 'Comments for ' + @recipe.title
- @comments = @recipe.comments.all
- unless @comments.blank?
  - @comments.each do |comment|
    = "\"" + comment.body + "\""
    %br
    %span{:style => 'font-size: 10px;'}
      = 'Posted ' + time_ago_in_words(comment.created_at) + ' ago by ' + comment.name + ' (' + comment.email + ')'
    %br
    %br
- else
  = "(These are not the comments you're looking for...)"
  %br
  %br

%h3 Post a comment
= render '/comments/new_comment_form'
%br
/ = link_to 'Back', recipes_path
/ = link_to 'Back', :back