- form_for @user do |f|
  = f.label :username
  %br
  = f.text_field :username
  %br
  %br
  = f.label :email
  %br
  = f.text_field :email
  %br
  %br
  = f.label :password
  %br
  = f.password_field :password
  %br
  %br
  = f.label :password_confirmation
  %br
  = f.password_field :password_confirmation
  %br
  %br
  = f.label :website
  %br
  =f.text_field :website, {:value => 'http://'}
  %br
  %br
  = f.label :country
  %br
  = f.select :country, options_for_select(User::COUNTRIES, selected = @user.country), {:prompt => 'Please select one'}
  %br
  %br
  %br
  = f.submit
  or
  %a.cancel_link{ :href => root_path } Cancel
  %br