<h1>Edit my profile</h1>

<%= form_for @user do |f| %>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <br />
  <%= f.label :password_confirmation %>
  <%= f.text_field :password_confirmation %>
  <br />
  <%= f.submit %>
<% end %>