%fieldset
  %h1= @user.username
  %p
    / Eventually have this as optional for the user to display this or not
    %strong Email:
    %br
    = @user.email
  %p
    %strong Created at:
    %br
    = @user.created_at
  %p
    %strong Updated at:
    %br
    = @user.updated_at
  %br
  / = link_to 'Back', users_path
  = link_to 'Back', 'javascript:history.go(-1);'