%h1= @user.email
%p
  %h3 Username
%p
  %ul
    %li= @user.username
%p
  %h3 Created at
%p
  %ul
    %li= @user.created_at
%p
  %h3 Updated at
%p
  %ul
    %li= @user.updated_at
%br
= link_to 'Back', users_path