!!!
%html
  %head
    %title RecipeApp
    %link{:href => "/stylesheets/recipeApp.css", :rel => "stylesheet", :title => "main_stylesheet", :type => "text/css"}
    %script{:src => "tabber.js", :type => "text/javascript"}
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #top_field
      %a{:href => "http://www.foodnetwork.com/italian-cooking-basics/package/index.html/"} Italian
      |
      %a{:href => "http://mexicanfood.about.com/"} Mexican
      |
      %a{:href => "http://southernfood.about.com/"} Southern Cooking
      |
      %a{:href => "http://chinesefood.about.com/"} Thai
      |
      %a{:href => "http://chinesefood.about.com/"} Japanese
      |
      %a{:href => "http://chinesefood.about.com/"} Chinese
      |
      %a{:href => "http://chinesefood.about.com/"} Korean
      |
      %a{:href => "http://chinesefood.about.com/"} French
      |
      %a{:href => "http://chinesefood.about.com/"} Indian
      |
      %a{:href => "http://chinesefood.about.com/"} Mediterranean
      |
      %a{:href => "http://chinesefood.about.com/"} Greek
    #page
      #sidebar
        %ul
          = log_in_out_links(current_user)
          = sign_up(current_user)
          / %li
          /   %h3 Navigation
          /   %ul.links
          /     %li= link_to 'Home', root_path
          /     %li= link_to 'Recipes List', recipes_path
          /     - if current_user
          /       %li= link_to 'Post a new recipe', new_recipe_path
          /       %li= link_to 'My Recipes', my_recipes_path
          /       %li= link_to 'Cuisines List (admin page)', cuisines_path
          /       %li= link_to 'Users List (admin page)', users_path
          /       %li
          /
          / %li
          /   %h3 Recipes around the world
          /   %ul.links
          /     %li
          /       %a{:href => "http://www.foodnetwork.com/italian-cooking-basics/package/index.html/"} Italian
          /     %li
          /       %a{:href => "http://mexicanfood.about.com/"} Mexican
          /     %li
          /       %a{:href => "http://southernfood.about.com/"} Southern Cooking
          /     %li
          /       %a{:href => "http://chinesefood.about.com/"} Chinese
          %li
            %h3 Information
            %ul.links
              %li= link_to 'Getting Started', getting_started_path
              %li= link_to 'About RecipeApp', about_path
      #content1
        %img.top_image{:alt => "food", :src => "/images/family_dinner(stretch).jpg", :width => '579px'}
        #header
          %h1 RecipeApp
          %h2 Your resource for the world’s best recipes!
        %span#user_links{:style => 'margin-left:0px;'}
          = link_to 'Home', root_path, :class => 'nav_links'
        %span#user_links
          = link_to 'Recipes List', recipes_path, :class => 'nav_links'
        %span#user_links
          = link_to 'Post a Recipe!', new_recipe_path, :class => 'nav_links'
        = my_recipes_tab(current_user)
        = cuisines_tab(current_user)
        = users_tab(current_user)
      #content2
        = content_tag :p, notice, :class => 'notice' if notice.present?
        = content_tag :p, alert, :class => 'alert' if alert.present?
        = yield
      .clear
    #clear