!!!
%html
  %head
    %title RecipeApp
    %link{:href => "/stylesheets/recipeApp.css", :rel => "stylesheet", :title => "main_stylesheet", :type => "text/css"}
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    %img{:src => '../images/hills_light.jpg', :alt => 'background image', :id => 'bg'}
    #top_field
      %strong Cuisine:
      %a{:href => "http://www.foodnetwork.com/italian-cooking-basics/package/index.html/"} Italian
      |
      %a{:href => "http://mexicanfood.about.com/"} Mexican
      |
      %a{:href => "http://southernfood.about.com/"} Southern Cooking
      |
      %a{:href => "http://chinesefood.about.com/"} Thai
      |
      %a{:href => "http://chinesefood.about.com/"} Japanese
      |
      %a{:href => "http://chinesefood.about.com/"} Chinese
      |
      %a{:href => "http://chinesefood.about.com/"} Korean
      |
      %a{:href => "http://chinesefood.about.com/"} French
      |
      %a{:href => "http://chinesefood.about.com/"} Indian
      |
      %a{:href => "http://chinesefood.about.com/"} Mediterranean
      |
      %a{:href => "http://chinesefood.about.com/"} Greek
      = '---'
      %strong Course:
      %a{:href => "http://mexicanfood.about.com/"} Appetizer
      |
      %a{:href => "http://mexicanfood.about.com/"} Entree
      |
      %a{:href => "http://mexicanfood.about.com/"} Dessert
    #page
      #sidebar
        %ul
          = log_in_out_links(current_user)
          = sign_up(current_user)
          %li
            %h3 Information
            %ul.links
              %li= link_to 'Getting Started', getting_started_path
              %li= link_to 'About RecipeApp', about_path
      #content1
        %img.top_image{:alt => "food", :src => "/images/family_dinner(stretch).jpg", :width => '579px'}
        #header
          %h1 RecipeApp
          %h2 Your resource for the world’s best recipes!
        = home_tab()
        = recipes_list_tab()
        = post_a_recipe_tab()
        = my_recipes_tab(current_user)
        = cuisines_tab(current_user)
        = users_tab(current_user)
      #content2
        = content_tag :p, notice, :class => 'notice' if notice.present?
        = content_tag :p, alert, :class => 'alert' if alert.present?
        = yield
      .clear
    .clear