!!!
%html
  %head
    %title RecipeMe!
    %link{:href => "/stylesheets/app.css", :rel => "stylesheet", :title => "main_stylesheet", :type => "text/css"}
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #top_field
      #top_field_content
        - @cuisines = Cuisine.all
        - @cuisines.each do |cuisine|
          = link_to cuisine.name, root_path
          - if cuisine != @cuisines.last
            = '|'
        •
        - @courses = Course.all
        - @courses.each do |course|
          = link_to course.name, root_path
          - if course != @courses.last
            = '|'
        #top_field_bar
    #feedback_bar
      %a{:href => feedback_path}
        %img{:src => '../../images/feedback.jpg', :alt => 'feedback'}
    #background_header
      / %img{:src => '../../images/hills_light.jpg', :alt => 'background image', :id => 'bg'}
      RecipeMe!
      %a.small_word{:href => 'http://en.wikipedia.org/wiki/Table_manners'}
        (please)
    #nav_bar
      = home_tab()
      = recipes_list_tab()
      = post_a_recipe_tab()
      = my_recipes_tab(current_user)
      = cuisines_tab(current_user)
      = courses_tab(current_user)
      = users_tab(current_user)
    #page
      #sidebar
        %ul
          = log_in_out_links(current_user)
          = sign_up(current_user)
          %li
            %h3 Information
            %ul.links
              %li= link_to 'Getting Started', getting_started_path
              %li= link_to 'About RecipeApp', about_path
      #content2
        = content_tag :p, notice, :class => 'notice' if notice.present?
        = content_tag :p, alert, :class => 'alert' if alert.present?
        = yield
      .clear
    .clear